<script lang="ts">
	import * as config from '$lib/config'
	import Header from '$lib/components/header.svelte'
	import Footer from '$lib/components/footer.svelte'
	import Transition from '$lib/components/transition.svelte'

	export let data
</script>

<svelte:head>
	<title>{config.title}</title>
</svelte:head>

<Header />
<div id="main">
	<Transition url={data.url}>
		<slot />
	</Transition>
</div>
<Footer />

<style>
	#main {
		padding: 3.8rem 1.2rem;
		min-height: 100vh;
		height: 100%;
	}
</style>
