<script lang="ts">
	import * as config from '$lib/config'
	import brand from '$lib/assets/images/brandicon.png'
</script>

<svelte:head>
	<title>{config.title}</title>
</svelte:head>

<section>
	<h2>The Developer Sandbox</h2>
	<div id="container">
		<div class="section">
			<div id="introduction" class="box">
				<div class="titlebar">
					<p>here is some stuff!</p>
					<span class="material-symbols-outlined"> info </span>
				</div>
				<div class="content">
					<h3>Welcome to the Sandbox!</h3>

					<p>
						Dive into a realm where <strong>innovation</strong> meets
						<strong>collaboration</strong>. The <strong>Developer Sandbox</strong> is not just a website
						– it's a canvas for developers to showcase their expertise, share insights, and push the
						boundaries of technology. Our platform is fueled by the passion and knowledge of developers
						like you.
					</p>

					<h3>What Sets Us Apart?</h3>

					<p>
						It's <strong>simple</strong> – <em>freedom</em> and <em>flexibility</em>. With GitHub
						integration at the heart of our ecosystem, you have the power to shape this space.
						Contribute articles and tutorials in <strong>markdown</strong>
						format, unveiling your wisdom to the world. But that's not all. Think beyond the confines
						of traditional content. Use our platform to craft entire pages that highlight your skills,
						explore your projects, and reveal your capabilities in the most interactive ways imaginable.
					</p>

					<h3>More Than a Website</h3>

					<p>
						This is more than a website; it's your <strong>playground</strong>, your
						<strong>canvas</strong>, your <strong>stage</strong>. Whether you're a
						<em>seasoned coder</em>, a <em>budding developer</em>, or anyone in between, the
						Developer Sandbox is your opportunity to inspire, educate, and elevate. Join us in
						shaping the future of tech, one pull request at a time. Unleash your creativity – the
						sandbox is now yours!
					</p>
				</div>
			</div>
			<div id="card" class="box">
				<img src={brand} alt="andrew s erwin" />
				<span>
					<p><a href="mailto:andrew.erwin73@gmail.com">Andrew Erwin</a></p>
					<p>Software Engineer</p>
				</span>
			</div>
		</div>
		<!-- end section -->
		<div class="section">
			<div id="articles" class="box">
				<div class="titlebar">
					<p>latest articles</p>
					<span class="material-symbols-outlined"> info </span>
				</div>
				<div class="content">
					<p>boo!</p>
				</div>
			</div>
		</div>
		<!-- end section -->
	</div>
	<!-- end container -->
</section>

<style>
	h2 {
		font-size: 6em;
		font-family: 'Source Sans Pro', monospace;
		line-height: 1;
	}
	h3 {
		font-size: 2.4em;
	}

	p {
		margin-bottom: 1rem;
	}

	#container {
		display: flex;
	}

	#introduction {
		width: 600px;
		height: 400px;
	}

	#card {
		width: 300px;
		display: flex;
		margin: 1.4rem 0;
	}

	#card p {
		margin: 0;
	}

	#card img {
		padding-right: 0.6rem;
	}

	#articles {
		margin-left: 1.4rem;
		width: 300px;
		height: 600px;
	}

	@media (max-width: 768px) {
		h2 {
			font-size: 3em;
			margin-left: 0;
		}

		#container {
			flex-direction: column;
		}

		#introduction {
			width: 100%;
			margin: 0;
		}

		#card {
			width: 80%;
		}
	}
</style>
