@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #faf0e6;
}

body {
  background: url('bg.jpg') no-repeat fixed center center / cover;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.box {
	border: 2px solid white;
	border-radius: 10px;
	padding: 0.6rem 1rem;
	position: relative;
	overflow: hidden;
}

.titlebar {
	position: absolute;
	top: 0;
	left: 0;
	border-bottom: 2px solid white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.6rem 1rem;
	width: 100%;
}

.content {
	position: absolute;
	top: 3.6rem;
	overflow: auto;
	max-height: calc(100% - 3.6rem);
}


