<script lang="ts">
	import * as config from '$lib/config'
	import { formatDate } from '$lib/utils'

	export let data
</script>

<svelte:head>
	<title>{config.title} | Blog</title>
</svelte:head>

<section id="blog">
	<ul id="posts">
		{#each data.posts as post}
			<li>
				<a href={post.slug}>{post.title}</a>
				<p>{formatDate(post.date)}</p>
				<p>{post.description}</p>
			</li>
		{/each}
	</ul>
</section>
