<script lang='ts'>
  import { formatDate } from '$lib/utils'

  export let data
</script>

<svelte:head>
  <title>{data.meta.title}</title>
  <meta property='og:type' content='article' />
  <meta property='og:title' content='{data.meta.title}' />
</svelte:head>

<article>
  <hgroup>
    <h3>{data.meta.title}</h3>
    <p>Published at {formatDate(data.meta.date)}</p>
  </hgroup>

	<div class='tags'>
		{#each data.meta.categories as category}
			<span class="surface-4">&num;{category}</span>
		{/each}
	</div>

	<div class='prose'>
		<svelte:component this={data.content} />
	</div>
</article>
