<script>
	import * as config from '$lib/config'

	export let data
</script>

<svelte:head>
	<title>{config.title} | Some Projects</title>
</svelte:head>

<div id="portfolio">
	{#each data.repos as repo}
		<article>
			<div class="card">
				<figure>
					<img
						src="https://raw.githubusercontent.com/erwininteractive/{repo.name}/main/preview.jpg"
						alt={repo.name.replace(/-/g, ' ')}
					/>
				</figure>
				<div class="body">
					<h3>
						{repo.name.replace(/-/g, ' ')}
					</h3>
					<p>{repo.description}</p>
					<a href={repo.html_url} class="readmore"> code is here </a>
				</div>
			</div>
		</article>
	{/each}
</div>

<style>
	#portfolio {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
		margin-inline: auto;
		max-width: 1200px;
		gap: 1.2rem;
	}

	article {
		background-color: #90aa86;
		border-radius: 1rem;
		position: relative;
		transform-origin: center;
		transition: all 0.4s ease;
		overflow: hidden;
	}

	article .card figure {
		aspect-ratio: 16/9;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}

	article .card figure img {
		max-width: 100%;
		transform-origin: center;
		transform: scale(1.001);
		transition: transform 0.4s ease;
	}

	article .body {
		padding: 1.6rem;
	}

	@media (max-width: 640px) {
		#portfolio {
			display: flex;
			flex-direction: column;
		}
	}
</style>
