<script lang="ts">
	import ae from '$lib/assets/images/ae.png'
	import { onMount } from 'svelte'
</script>

  <header>
    <h1>Developer Sandbox</h1>
    <h2>some tagline for the website</h2>
  </header>
<style>

</style>
